<strong>Olá, {{student}}</strong>
<p>Seja bem vindo ao Gym point</p>
<p>Abaixo estão alguns dados da sua matricula recente:</p>
<p>
  <strong>Data de começo da matricula: </strong> {{start_date}}<br/>
  <strong>Data de termino da matricula: </strong> {{end_date}}<br/>
  <strong>Valor Mensal: </strong> R${{price}}<br/>
  <strong>Valor Total: </strong> R${{total_price}}<br/>
  <br/>
  <small>
    Obrigado pela preferência na Gym point, a melhor academia do país.
  </small>
</p>
